.contact {
  position: relative;
  z-index: 6;

  &__container {
    background-color: $secondary;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__form {
    color: $soft-yellow;
    padding: 2rem 3rem;

    h2 {
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    address {
      a {
        color: $soft-yellow;
        text-decoration: none;

        &:hover {
          color: $dark-yellow;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: .75rem;

      .form-control {
        label {
          display: none;
          visibility: hidden;
        }

        input,
        textarea {
          background-color: rgba($white, 0.05);
          border: none;
          color: white;
          max-height: 5rem;
          padding: 1rem 2rem;
          width: 100%;
        }
      }

      .wpcf7-submit {
        background-color: $dark-yellow;
        border: none;
        color: $secondary;
        cursor: pointer;
        font-weight: 700;
        line-height: 1;
        padding: 1rem 2rem;
        text-transform: uppercase;
        transition: background-color .3s ease;
        width: auto;

        &:hover {
          background-color: $soft-yellow;
        }
      }
    }
  }

  &__map {
    iframe {
      margin-bottom: -.5rem;
    }
  }
}