@font-face {
  font-family: 'Mont Book';
  src: url('../fonts/Mont-Book.woff2') format('woff2'),
    url('../fonts/Mont-Book.woff') format('woff'),
  url('../fonts/Mont-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontBold';
  src: url('../fonts/Mont-Bold.woff2') format('woff2'),
    url('../fonts/Mont-Bold.woff') format('woff'),
  url('../fonts/Mont-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MontSemiBold';
  src: url('../fonts/Mont-SemiBold.woff2') format('woff2'),
    url('../fonts/Mont-SemiBold.woff') format('woff'),
  url('../fonts/Mont-SemiBold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}