.header {
  min-height: 100px;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include media-breakpoint-up(md) {
    background-image: linear-gradient(180deg, white 0%, white 70%, #d09a29 70%, #d09a29 100%);
  }

  &.fixed {
    position: fixed;
  }

  &__container {
    align-items: flex-end;
  }

  .navbar-brand {
    @include media-breakpoint-up(md) {
      padding: 1rem 0 3rem 0;
    }
  }

  .navbar-toggler {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: .4rem;

    @include media-breakpoint-up(md) {
      display: none;
    }

    span {
      background-color: $secondary;
      content: '';
      display: block;
      height: 3px;
      width: 2rem;
    }
  }

  .navbar {
    padding: 0;
  }

  &__menu {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    &.show {
      background-color: white;
      display: flex;
    }
  }

  .navbar-nav {
    @include media-breakpoint-up(md) {
      margin-left: auto;
    }

    .nav-item {
      .nav-link {
        align-items: stretch;
        border-left: 2px solid $soft-yellow;
        color: $dark-yellow;
        display: flex;
        font-size: .75rem;
        font-weight: 700;
        height: 100%;
        padding: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        text-wrap: nowrap;
        width: 100%;

        @include media-breakpoint-up(md) {
          color: white;
          padding: 5.5rem 1rem 0 1rem;
        }

        &:hover {
          border-left: 2px solid $secondary;
          color: $secondary;
        }
      }
    }
  }
}