.highlight,
.services,
.news {
  &__container {
    background-color: $soft-yellow;
    color: white;
    padding: 0;
  }

  &__title {
    padding: 3rem 0;
    text-align: center;

    h2 {
      text-transform: uppercase;
    }
  }

  .item {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;

      &:nth-child(even) {
        .item__content {
          background-color: $soft-yellow;
          order: -1;
        }
      }
    }

    &__image {
      align-items: center;
      aspect-ratio: 16 / 9;
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: 100%;

      img {
        height: auto;
        object-fit: cover;
        max-width: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      line-height: 1.1;
      width: 100%;

      @include media-breakpoint-up(md) {
        max-width: 50%;
        padding: 4rem;
      }

      h2 {
        color: $secondary;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 2rem;
      }

      p {
        font-weight: 500;
      }

      a {
        border-bottom: 1px solid $dark-yellow;
        color: $dark-yellow;
        font-size: .75rem;
        font-weight: 700;
        padding: 1rem 0;
        text-decoration: none;
        text-transform: uppercase;
        width: max-content;

        &:after {
          content: " + ";
          margin-left: 1rem;
        }

        &:hover {
          background-color: $dark-yellow;
          color: white;
          padding: 1rem;
        }
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;

    &__button {
      a {
        border-radius: 100px;
        border: 1px solid $secondary;
        color: $secondary;
        font-size: 3rem;
        height: 2rem;
        line-height: 1;
        padding: 0 .5rem;
        text-decoration: none;
        width: 2rem;
      }
    }
  }
}

.news {
  .item {
    background-color: $secondary;
    color: white;

    &:nth-child(even) {
      .item__content {
        background-color: $soft-yellow;

        h2 {
          color: $secondary;
        }
      }
    }

    &__content {
      gap: .5rem;

      h2 {
        color: $soft-yellow;
        font-size: 1.25rem;
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }
}