.list {

  &--highlight,
  &--services {
    margin: 2rem 0 0 0;

    .item {
      background-color: $soft-yellow;

      &__content {
        h2 {
          color: $secondary;
          font-size: 1.5rem;
        }
      }
    }
  }

  &--news {
    .item {
      background-color: $secondary;

      &__content {
        h2 {
          color: $soft-yellow;
          font-size: 1.5rem;
        }
      }

      &:nth-child(even) {
        .item__content {
          background-color: $soft-yellow;

          h2 {
            color: $secondary;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  &__container {
    color: white;
    padding: 0;
  }

  &__title {
    padding: 3rem 0;
    text-align: center;

    h2 {
      color: $secondary;
      text-transform: uppercase;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;

        &:nth-child(even) {
          .item__content {
            order: -1;
          }
        }
      }

      &__image {
        align-items: center;
        aspect-ratio: 16 / 9;
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;

        img {
          height: auto;
          object-fit: cover;
          max-width: 100%;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        padding: 2rem;
        line-height: 1.1;
        width: 100%;

        @include media-breakpoint-up(md) {
          max-width: 50%;
          padding: 4rem;
        }

        h2 {
          font-weight: 400;
          line-height: 1;
          margin: 0;
        }

        p {
          font-weight: 500;
          margin: 0;
        }

        a {
          border-bottom: 1px solid $dark-yellow;
          color: $dark-yellow;
          font-size: .75rem;
          font-weight: 700;
          padding: 1rem 0;
          text-decoration: none;
          text-transform: uppercase;
          width: max-content;

          &:after {
            content: " + ";
            margin-left: 1rem;
          }

          &:hover {
            background-color: $dark-yellow;
            color: white;
            padding: 1rem;
          }
        }
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;

    &__button {
      a {
        border-radius: 100px;
        border: 1px solid $secondary;
        color: $secondary;
        font-size: 3rem;
        height: 2rem;
        line-height: 1;
        padding: 0 .5rem;
        text-decoration: none;
        width: 2rem;
      }
    }
  }
}