.showtoo {
  margin-top: 2rem;

  &__container {
    background-color: $secondary;
    color: white;
    padding: 0;
  }

  &__title {
    padding: 3rem 2.5rem;

    h2 {
      color: $soft-yellow;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .item {
    min-height: 300px;
    padding: 2.5rem;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      padding: 2.5rem 5rem;
    }

    &__content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      height: 100%;
      position: relative;
      z-index: 3;

      h3 {
        font-size: 1.5rem;
        font-weight: 400;
        text-shadow: 0 0 2rem rgba(0 0 0 / .95);
        width: 100%;

        @include media-breakpoint-up(md) {
          font-size: 2.5rem;
        }
      }

      a {
        background-color: rgba(255 255 255 / .5);
        border-radius: 100px;
        color: $secondary;
        font-size: .75rem;
        font-weight: 500;
        padding: .15rem 1.5rem;
        text-decoration: none;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      position: absolute;
      inset: 0;
      z-index: 1;

      @include media-breakpoint-up(md) {
        aspect-ratio: 16 / 9;
        width: 100%;

      }
    }
  }
}