.slider {
  align-items: center;
  color: white;
  display: flex;
  height: 60dvh;
  max-height: 900px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &__container {
    z-index: 2;

    h1 {
      display: none;
      font-size: 3rem;
      text-shadow: 5px 4px 3px rgba(0 0 0 / .9);
    }
  }

  img {
    // aspect-ratio: 16 / 9;
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}