.slider {
  height: 30vh;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 80vh;
    max-height: 900px;
  }

  &--home {
    .slider__container {
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
  }

  &--services {
    h1 {
      display: none;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }

  h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  img {
    left: 0;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}