.strategy {
  margin-bottom: 2rem;

  &__container {
    background-color: $secondary;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2.5rem;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
      padding: 4rem 2.5rem;
    }
  }

  hr {
    background-color: $soft-yellow;
    border: 0;
    display: block;
    height: 3px;
    width: 100%;
  }

  &__item {
    line-height: 1.1;

    img {
      margin-bottom: 1rem;
    }

    h2 {
      color: $soft-yellow;
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    p {
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0;
      text-wrap: pretty;
    }
  }
}