// Colors
$primary: #d09a29;
$secondary: #0b3141;
$soft-grey: #e5c881;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "soft-grey": $soft-grey,
);

$body-color: $secondary;
// $font-family-base: "avenir-lt-pro", sans-serif;
$font-weight-normal: 300;
$font-size-base: 1rem;

$headings-font-weight: 700;

html {
  scroll-behavior: smooth;
}

a {
  transition: all ease-in-out 0.3s;
}

.btn-primary {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}